# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Packaging / distribution
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Editor / OS cruft
.vscode/
.idea/
.DS_Store
